@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    font-family: 'Montserrat';
}
body {
    color: initial !important;
    height: 100%;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,span,p {
    cursor: default;
    margin: 0px !important;
    padding: 0px !important;
}
.container, .container-fluid, .row, ul{
    margin: 0px !important;
    padding: 0px !important;
}
.content-head{
    margin: 15px 0 !important;
}
.btn {
    font-size: 1rem !important;
    margin: 5px 0 !important;
    padding: 8px 15px !important;
    border: none !important;
}
.btn-primary {
    background-color: #104B53 !important;
    color: #f2f2f2 !important;
}
.btn-primary:hover{
    background-color: #D99B5E !important;
}
.vertical-line {
    border: 1.5px solid;
    border-color: #D99B5E;
    height: 30px;
    width: 1px !important;
}
.lead {
    margin: 15px 20px !important;
    text-align: center;
}
@media (max-width: 480px) {
    .vertical-line {
        height: 25px;
    }
    .lead {
        font-size: 1rem !important;
    }
    .btn {
        font-size: 0.85rem !important;
        padding: 5px 12px !important;
    }
}
@media (min-width: 760px) {
    .lead {
        margin: 15px 200px !important;
        font-size: 1.2rem !important;
    }
}

/* ========================================Navbar Start=============================================== */
/* Navigation Bar */
.navbar {
    padding: 8px !important;
    background-color: #f2f2f2;
}
.navbar-brand {
    font-weight: 600;
    font-size: 1.4rem !important;
}
.nav-link:hover {
    color: #181F30 !important;
}

.nav-container{
    margin: 0px !important;
    padding: 0px !important;
}
.nav-item {
    padding: 0 20px;
}
.navbar-toggler {
    font-size: 1rem !important;
    border: 2px solid;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 2px #D99B5E !important;
}
.dropdown-menu {
    top: 50 !important;
    width: 250px;
}
.dropdown-item {
    margin: 8px 0;
}
.dropdown-toggle::after {
    display: none !important;
}
#progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #D99B5E; 
    z-index: 9999;
}
@media (max-width: 768px) {
    .dropdown-menu {
        background-color: transparent !important;
        border: none !important;
    }
}
@media (max-width: 480px) {
    .navbar-brand {
        font-size: 1rem !important;
    }
}
/* ========================================Navbar End================================================ */

/* =======================================Footer Start================================================ */
/* footer section */
.footer {
    background-color: #181F30; /* Dark background */
    color: #f2f2f2;
}
.footer-row{
    margin: 0px !important;
    padding-top: 25px !important;
    padding-bottom: 10px !important;
}
.footer-head {
    margin-bottom: 10px !important;
}

.footer a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s ease-out;
    font-size: 1.1rem;
}

.footer a:hover {
    color: #EACECB;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-link{
    padding: 8px 0;
}

.accordion-body {
    padding: 0 10px !important;
}

.accordion-item {
    border-radius: 0px !important;
    border: 0px !important;
    background-color: #181F30 !important;
}

.footer-link-icon {
    align-items: center;
    justify-content: center;
    color: #EACECB;
    padding-top: 10px !important;
}

.footer-link-icon a {
    font-size: 1.7rem;
}

.footer .accordion-button {
    background: transparent;
    color: #f2f2f2;
    font-size: 1.1rem;
    border: 0px !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.footer-accordion {
    padding: 8px 15px;
}
.footer-accordion a {
    color: #EACECB;
}
.footer-accordion a i {
    font-size: 1.25rem;
}
.footer-accordion-link {
    display: flex;
    justify-content: space-between;
}
.footer .accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0.05);
    color: #EACECB;
}

.footer .accordion-button:focus {
    box-shadow: none;
    color: #EACECB;
}
.footer .accordion-button::after {
    content: '\203A';
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.footer .accordion-button.collapsed::after {
    transform: rotate(-90deg);
    content: '';
}

.footer .accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
    content: '';
}
.footer-wrap{
    padding: 10px 0 !important;
}
.footer-wrap-row{
    display: flex;
    justify-content: center;
    margin: 0px !important;
}

.footer-wrap-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 480px) {
    .footer-wrap-head {
        font-size: 1.2rem;
        margin: 10px 0 !important;
    }
    .footer-wrap-text {
        font-size: 0.9rem;
    }
}
/* ========================================Footer End================================================ */

/* =======================================Index Start================================================ */
/* Home page */
/* Hero section */
.hero-section {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    color: white;
}

.hero-section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    z-index: 3;
    max-width: 550px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}
.hero-text {
    font-size: 1.2rem;
    margin: 30px 0px !important;
}
.head-button {
    padding: 8px 15px;
    text-decoration: none;
    border: 2px solid;
    border-color: #D99B5E;
    color: #f2f2f2;
    font-size: 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.head-button:hover {
    color: #EACECB;
    background-color: #104B53;
}
@media (min-width: 1080px){
    .hero-section {
        height: 90vh;
    }
    .hero-content {
        max-width: 650px;
    }
}

@media (max-width: 768px) {
    .hero-section {
        height: 60vh;
    }
    .hero-content {
        margin: 0 !important;
        text-align: center;
        margin-top: 40px !important;
        max-width: fit-content;
        background: rgba(0, 0, 0, 0.7);
    }
}
@media (max-width: 480px) {
    .hero-head {
        font-size: 1.2rem;
    }
    .hero-text {
        font-size: 0.8rem;
    }
    .head-button {
        padding: 5px 12px;
        font-size: 0.8rem;
    }
}


/* Coffee card section */
.card{
    flex-grow: 1;
    border-radius: 0px !important;
    border: 0px !important;
}
.card-image {
    width: 100%;
    aspect-ratio: 1 / 1.4;
    object-fit: contain;
}
.head-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px !important;
}
.card-heading {
    text-align: center;
    margin: 20px 0 !important;
}
.card-heading-text {
    margin-top: 20px !important;
    font-size: 1rem;
    text-align: center;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 8px 2px !important;
}
.card-text {
    margin: 20px 0 !important;
}
.card-title {
    font-size: 1.2rem;
}
.card-button {
    padding: 8px 15px;
    text-decoration: none;
    background-color: #D99B5E;
    color: #f2f2f2;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.card-button:hover {
    color: #EACECB;
    background-color: #104B53;
}
.cards {
    display: block;
}
@media (max-width: 768px) {
    .card {
        padding: 10px 5px !important;
    }
}
@media (max-width: 480px) {
    .head-card {
        margin-top: 0px !important;
        margin-bottom: 20px !important;
    }
    .card-body {
        padding: 20px 8px !important;
    }
    .card-title {
        font-size: 0.8rem !important;
    }
    .card-text {
        font-size: 0.8rem;
        margin: 10px 0 !important;
    }
    .card-button {
        padding: 5px 12px;
        font-size: 0.8rem;
    }
}

/* About section */
.about-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 !important;
}
.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 !important;
    background-color: #f6f6f7;
}
.about-head {
    margin: 20px !important;
}
@media (min-width: 1080px) {
    .about-section {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .about-section {
        height: 60vh;
    }
}

/* Subsctibe section */
.sub-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1080px) {
    .sub-section {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .sub-section {
        height: 60vh;
    }
}

/* Events section */
.event-cards {
    position: relative;
    display: flex;
    justify-content: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.event-cards:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: opacity 0.3s ease-out;
}
.event-cards:hover:before {
    opacity: 0.6;
}

.event-cards:nth-child(1) {
    background-image: url('./Barista/pexels-keszthelyit-4110874.jpg');
}
.event-cards:nth-child(2) {
    background-image: url('./Barista/pexels-ketut-subiyanto-4349828.jpg');
}
.event-cards:nth-child(3) {
    background-image: url('./Barista/pexels-vanmalidate-769275.jpg');
}

.event-cards-inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    z-index: 2;
}
.event-text {
    text-align: center;
    padding: 0 8px !important;
}
.event-button {
    border: 2px solid;
    border-color: #D99B5E;
    color: #f2f2f2;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-out !important;
}

.event-button:hover {
    background-color: #EACECB;
    color: #104B53;
    border-color: transparent;
}

.carousel-inner {
    overflow: auto !important;
    height: 60vh;
}
.carousel-card {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    height: 60vh !important;
    color: white;
}
.carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-item:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    transition: opacity 0.3s ease-out;
}
.carousel-item:hover:before {
    opacity: 0.6;
}
.carousel-item:nth-child(1) {
    background-image: url('./Barista/pexels-keszthelyit-4110874.jpg');
}
.carousel-item:nth-child(2) {
    background-image: url('./Barista/pexels-ketut-subiyanto-4349828.jpg');
}
.carousel-item:nth-child(3) {
    background-image: url('./Barista/pexels-vanmalidate-769275.jpg');
}
.carousel-cards-inside {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
    z-index: 2;
}
.carousel-card-text {
    margin: 20px !important;
}
.carousel-card-button{
    border: 2px solid;
    border-color: #D99B5E;
    color: #f2f2f2;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-out !important;
}
.carousel-card-button:hover {
    background-color: #EACECB;
    color: #104B53;
    border-color: transparent;
}
@media (min-width: 1080px) {
    .event-cards {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .desktop-columns {
        display: none !important;
    }
    .mobile-carousel {
        display: block !important;
    }
    .carousel-card-title {
        font-size: 1.2rem;
    }
    .carousel-card-text {
        font-size: 0.8rem;
    }
    .carousel-card-button {
        font-size: 0.8rem;
        padding: 5px 12px !important;
    }
}

@media (min-width: 769px) {
    .desktop-columns {
        display: flex;
    }
    .mobile-carousel {
        display: none;
    }
}
/* ========================================Index End================================================= */


/* ========================================About Start=============================================== */
/* About Us Page */
/* Head content */
.aboutus-left-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutus-left-header {
    margin: 20px 0 !important;
    color: #104B53;
    border-bottom: 2px solid #D99B5E;
    width: max-content;
}
.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 70vh;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .aboutus-left-heading {
        text-align: center;
        padding: 15px !important;
    }
    .aboutus-left-text {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) {
    .aboutus-left-heading {
        text-align: left;
        padding: 0 20px 0 30px !important;
    }
}

/* Story section */
.story-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 !important;
}
.story-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px !important;
    background-color: #f6f6f7;
}
.story-head {
    margin: 20px !important;
}
.story-lead {
    margin: 15px 60px !important;
    text-align: center;
}
@media (min-width: 1080px) {
    .story-section {
        height: 70vh;
    }
}
@media (max-width: 768px) {
    .story-section {
        height: 100vh;
    }
    .story-head {
        margin: 10px !important;
    }
    .story-lead {
        margin: 15px 20px !important;
        font-size: 0.8rem;
    }
}

/* Mission section */
.mission-right-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mission-right-header {
    margin: 20px 0 !important;
    color: #104B53;
    border-bottom: 2px solid #D99B5E;
    width: max-content;
}
.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    height: 70vh;
}
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .mission-right-heading {
        text-align: center;
        padding: 15px !important;
    }
    .mission-right-text {
        font-size: 0.8rem;
    }
}
@media (min-width: 768px) {
    .mission-right-heading {
        text-align: left;
        padding: 0 30px 0 20px !important;
    }
}
/* Map section */
.map-container {
    height: 100vh;
}
.map-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.map-head, .map-text {
    margin: 12px 0 !important;
}
.map-head:nth-child(1){
    color: #D99B5E;
}
.map-head:nth-child(2) {
    border-bottom: 2px solid #D99B5E;
}
@media (max-width: 768px) {
    .map-container {
      height: 50vh;
    }
    .map-address {
        padding: 30px;
    }
    .map-head, .map-text {
        margin: 8px 0 !important;
    }
}

/* Subscribe form */
.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}
.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
}
.form-label {
    font-size: 0.9rem;
}
.form-control {
    font-size: 0.8rem !important;
}

.form-check {
    font-size: 0.8rem;
}
/* ========================================About End================================================ */


/* ======================================Coffee Bean Start=========================================== */
/* Coffee Catagory section */
.coffee-catagory {
    margin: 0 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: baseline;
}
#searchBox {
    border: 2px solid;
    border-color: #104B53;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    transition: all 0.3s ease-out;
    outline: none;
    margin-left: auto;
    margin-right: 15px;
}
#searchBox:focus {
    border-color: #D99B5E;
}
.catagory-list {
    display: flex;
    list-style: none;
    align-items: baseline;
}
.catagory-item {
    margin: 0 15px;
}
.catagory-links {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease-out;
    padding: 5px 0;
}
.active-link {
    color: #104B53;
    border-bottom: 2px solid;
    border-color: #D99B5E;
}
.catagory-links:hover {
    color: #D99B5E;
}
@media (max-width: 480px) {
    .coffee-catagory {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .catagory-list {
        font-size: 0.8rem;
        width: 100%;
        justify-content: space-evenly;
    }
    .catagory-item {
        padding: 0 5px;
    }
    #searchBox {
        width: 80%;
        font-size: 0.8rem;
        margin: 20px auto;
    }
}

/* Slide up Add to cart */
.slide-up-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 70vh;  /* Edit the height of container */
    text-align: center;
    background: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease-in-out;
    padding: 20px;
    z-index: 20; /* Ensure it's above the overlay */
}
.slide-up-container.active {
    bottom: 0;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}
.cart-button {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1050; /* Ensures it stays above other elements */
    transition: bottom 0.3s ease-in-out;
}
@media (max-width: 480px) {
    .slide-up-container {
        height: 60vh;
        overflow: scroll;
    }
    .cart-button {
        top: 50px;
        right: 10px;
    }
}

/* Slide up container elements */
.detail-card {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.detail-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}
#detailImage {
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.detail-title {
    display: flex;
    margin: 30px 0 0 10px !important;
    padding: 10px 0 !important;
    width: 100%;
    align-items: baseline;
}
#detailTitle {
    margin-right: 15px !important;
}
#detailDesc, #detailAmount {
    padding: 10px 0 !important;
    text-align: justify;
    margin: 0 10px !important;
}
.input-group {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    width: 60% !important;
}
.decrease-qty, .increase-qty {
    font-size: 1.5rem !important;
    padding: 0 15px !important;
}
#quantity {
    font-size: 1rem !important;
}
.button-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.add-to-cart {
    width: 100%;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #D99B5E;
    color: #f2f2f2;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}
.add-to-cart:hover {
    color: #EACECB;
    background-color: #104B53;
}
.close-btn {
    padding: 8px 15px !important;
    text-decoration: none;
    font-size: 1rem !important;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px !important;
}
@media (max-width: 480px) {
    .detail-box {
        align-items: center;
        justify-content: unset;
        height: auto;
    }
    .detail-title {
        margin-top: 10px !important;
        display: block;
        text-align: center;
    }
    #detailTitle {
        margin-bottom: 15px !important;
        margin-right: 0 !important;
    }
    #detailImage {
      max-width: 300px;
      max-height: 300px;
      margin: 0 auto;
    }
    #detailDesc, #detailAmount {
        font-size: 0.9rem;
    }
    .unit-price {
        font-size: 1rem;
    }
    .input-group {
        width: 60% !important;
    }
    .button-group {
        flex-direction: row;
        align-items: baseline;
        margin: 20px 0 10px 0;
    }
    .add-to-cart {
        font-size: 0.8rem !important;
    }
    .close-btn {
        margin-top: 0 !important;
        margin-right: 5px !important;
        font-size: 0.8rem !important;
    }
}

/* Hide number input arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
}

/* Hide number input arrows in Firefox */
input[type="number"] {
    --moz-appearance: textfield;
    border: none;
}
/* ======================================Coffee Bean End=========================================== */

/* ======================================Equipment Start=========================================== */
.steps{
    padding: 10px 0 !important;
    text-align: justify;
    margin: 0 10px !important;
}
@media (max-width: 480px) {
    .steps {
        font-size: 0.9rem;
    }
}
/* ========================================Equipment End============================================= */

/* ==========================================Event Start============================================= */
.page-event-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0 !important;
}
.page-event-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 !important;
}
.page-event-head {
    margin: 20px !important;
}
.event-card-container {
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.event-card {
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.event-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-card-title {
    margin: 10px 0 !important;
}
.description-column {
    padding: 0 10px;
}
.description-container {
    margin-top: 5px;
    overflow: hidden;
    max-height: 3.2em; /* Restrict height to around 2 lines */
    transition: max-height 0.3s ease-out, display 0.3s ease-out;
}
.description-container.expanded {
    max-height: 1000%;
    display: block !important;
}
.full-width {
    width: 100% !important;
    flex: 0 0 100% !important;
    margin-top: 10px;
}
.spans {
    padding-bottom: 2px;
    border-bottom: 2px solid #D99B5E;
    width: max-content;
    color: #181F30;
}
.span-location, .span-time {
    margin-left: 20px !important;
}
.color-span{
    color: #104B53;
    font-weight: 600;
}
.see-more {
    cursor: pointer;
    color: #104B53;
    text-decoration: none;
    display: inline-block;
    margin-top: 5px;
    transition: color 0.3s ease-out;
    font-weight: 500;
}
.see-more:hover {
    color: #D99B5E;
}
@media (max-width: 480px) {
    .page-event-head {
        margin: 10px !important;
    }
    .event-card-title {
        font-size: 1.05rem;
    }
    .event-card-text {
        font-size: 0.8rem;
    }
    .spans {
        display: flex;
        flex-direction: column;
    }
    .span-date, .span-location, .span-time {
        font-size: 0.8rem;
        margin: 3px 0 !important;
    }
    .span-location, .span-time {
        margin-left: 0 !important;
    }
}
.blog-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.blog-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 10px 0;
}
.blog-link {
    margin: 10px 0;
    text-decoration: none;
    color: #104B53;
    transition: color 0.3s ease-out;
}
.blog-link:hover {
    color: #D99B5E;
}
@media (max-width: 480px) {
    .blog-span {
        font-size: 0.8rem !important;
    }
}
/* ==========================================Event End============================================= */

/* =======================================Single Blog Start========================================== */

.blog-section {
    margin-top: 30px;
}
.back-arrow {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #104B53;
    margin-left: 10px;
    margin-top: 30px;
}
.back-arrow i {
    font-size: 20px;
    margin-right: 15px;
}
.blog-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.single-blog-title {
    margin: 20px 0 !important;
}
.single-blog-time {
    margin: 10px 0 !important;
}
.single-blog-text {
    text-align: justify;
    margin-right: 30px;
}
.single-blog-text p {
    margin: 20px 0 !important;
}
.suggested-posts {
    display: flex;
    flex-direction: column;
    align-items: center !important;
}
.suggested-title {
    margin-bottom: 20px !important;
    color: #D99B5E;
}
.suggest-post-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}
.suggest-img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}
.suggest-link {
    text-decoration: none;
    color: #104B53;
    transition: color 0.3s ease-out;
}
.suggest-link:hover {
    color: #D99B5E;
}

@media (max-width: 768px) {
    .single-blog-text {
        margin-right: 0;
    }
    .suggested-posts {
        margin-top: 100px;
    }
    .post-list {
        display: flex;
        flex-wrap: wrap;
    }
    .suggest-post-list {
        flex: 0 0 auto;
        padding: 15px;
        width: 50%;
    }
}

@media (max-width: 480px) {
    .back-arrow {
        margin-right: 5px;
        font-size: 0.8rem;
    }
    .single-blog-title {
        text-align: center;
    }
    .single-blog-time, .single-blog-text {
        font-size: 0.8rem;
    }
    .post-list {
        display: block;
    }
    .suggest-post-list {
        width: 100%;
    }
}
/* =======================================Single Blog End============================================ */